{%extends 'all-photos/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if searched_images%}
      <h2 class="">Found {{ searched_images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2 class="lead text-danger"> Found 0 searched_images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if searched_images %}
    {% for image in searched_images %}
      <div class="col-sm-6 col-md-3">
          <a href="{% url 'image_details' image.id%}"><h1>{{image.category}}</h1></a>
          <div>{{image.name}}</div>
          <div><img src="{{image.image.url}}" class="img img-responsive img-responsive"></div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}